{% extends "accounts/base.html" %} {% block content %}
<div style="text-align:center;width: 80%; margin: auto; padding-top: 5%">
<h1> Profile Info</h1>
<table class="table" style= "border-width:1px; border-style: solid">
 <tbody>
    <tr>
      <th scope="col">Username</th>
      <th scope="row">{{user.username}}</th>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th scope="col">First Name</th>
      <td>{{user.first_name}}</td>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <td>{{user.last_name}}</td>
    </tr>

  </tbody>
</table>
</div>
    <div style="text-align:center;width: 80%; margin: auto; padding-top: 5%">
<h1> My Cars </h1>
<table class="table" style= "border-width:1px; border-style: solid">
  <thead>
    <tr>
    <th scope="col">Make</th>
    <th scope="col">Type</th>
    <th scope="col">Delete</th> 
  </tr>
  </thead>
  {% if cars %}
  <tbody>

  {% for car in cars %}
  <tr>
    <td>{{car.make}}</td>
    <td>{{car.typ}}</td>
    <td><form method="POST" action="{% url 'delete_car' car.id %}">{% csrf_token %}<button>Delete</button></form></td>
  </tr>
  {% endfor %}
   </tbody>
   {%else%}
    <h2>No cars added yet.</h2>
{% endif%}
</table>
</div>



{%  endblock %}